<div class="w-full grid grid-cols-1 md:grid-cols-3 gap-6 p-4 text-center">
    <div class="bg-white rounded-xl p-4 shadow-lg">
        <h3 class="font-semibold mb-2" id="eta-chart-title">Выход по току: -- %</h3>
        <canvas id="etaChart"></canvas>
    </div>

    <div class="bg-white rounded-xl p-4 shadow-lg">
        <h3 class="font-semibold mb-2" id="eud-chart-title">Удельный расход энергии: -- кВт·ч/т Al</h3>
        <canvas id="eudChart"></canvas>
    </div>

    <div class="bg-white rounded-xl p-4 shadow-lg">
        <h3 class="font-semibold mb-2" id="anode-chart-title">Расход анодного материала: -- кг/т Al</h3>
        <canvas id="anodeChart"></canvas>
    </div>
</div>

<script src="/static/js/charts.js"></script>
