<div id="schemaContainer" class="bg-white w-full flex flex-col shadow-lg shadow-green-300 rounded-xl p-6 space-y-8">
  <div id="warningContainer" class="mb-4"></div>
  <div class="relative">
    <div id="schemasvg" class=""></div>
    <canvas id="effectsCanvas" class="absolute top-0 left-0"></canvas>

    <div id="tooltip" class="absolute bg-gray-900 text-white px-2 py-1 rounded-xl text-sm pointer-events-none z-10 opacity-0 transition-opacity duration-200">
      <span id="tooltipText"></span>
    </div>
  </div>
</div>

<script src="/static/js/visualization.js"></script>
